Repository mayconaraujosantos/TimeSaude: changes, and which lefthook commands are due for each by the changed paths.
All: lint, format, test

lefthook.yml:

# Lefthook configuration for git hooks
# https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    # Lint staged files
    lint:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm eslint {staged_files} --fix
      stage_fixed: true
    
    # Format staged files
    format:
      glob: "*.{js,jsx,ts,tsx,json,md}"
      run: pnpm prettier --write {staged_files}
      stage_fixed: true
    
    # Type check
    type-check:
      run: pnpm type-check
    
    # Test related files
    test:
      glob: "*.{js,jsx,ts,tsx}"
      run: pnpm test --bail

commit-msg:
  commands:
    commitlint:
      run: npx commitlint --edit {1}

pre-push:
  commands:
    # Run full test suite before push
    test:
      run: pnpm test
    
    # Final quality check
    quality-check:
      run: pnpm quality

build: Add ESLint 9 configuration with TypeScript support
  eslint.config.mjs
Due: none

build: Add Prettier configuration for code formatting
  .prettierrc.js
Due: lint, format, test

build: Configure Jest with Expo preset for testing
  package.json
Due: format

build: Add CommitLint configuration for conventional commits
  commitlint.config.js
Due: lint, format, test

build: Add project configuration and dependency management files
  .gitignore
  .npmrc
  package-lock.json
  pnpm-lock.yaml
Due: format

build: Add TypeScript and Babel configuration
  babel.config.js
  tsconfig.json
Due: lint, format, test

build: Add Prettier ignore configuration
  .prettierignore
Due: none

feat: Add Expo project configuration
  app.json
  index.ts
Due: lint, format, test

feat: Add main App component
  App.tsx
Due: lint, format, test

feat: Add project assets
  assets/adaptive-icon.png
  assets/favicon.png
  assets/icon.png
  assets/splash-icon.png
Due: none

docs: Add quality assurance documentation
  doc/QUALITY.md
Due: format

feat: Add NativeWind configuration for Tailwind CSS
  global.css
  metro.config.js
  nativewind-env.d.ts
  tailwind.config.js
Due: lint, format, test

build: Add NativeWind and Tailwind CSS dependencies
  package.json
  pnpm-lock.yaml
Due: format

feat: Update App component to use NativeWind classes
  App.tsx
Due: lint, format, test

build: Update TypeScript config for NativeWind integration
  tsconfig.json
Due: format

build: Update babel configuration to work with nativewind
  babel.config.js
Due: lint, format, test

feat(atoms): Add button component with variants, icons and custom sizes
  eslint.config.mjs
  jest.setup.js
  package.json
  src/shared/components/atoms/Button.tsx
  src/shared/components/atoms/__tests__/Button.test.tsx
  tailwind.config.js
Due: lint, format, test

feat(atoms): Add input component with keyboard types and customization
  src/shared/components/atoms/Input.tsx
  src/shared/components/atoms/__tests__/Input.test.tsx
Due: lint, format, test

feat(ui): Redesign app with new modern UI/UX based on wireframe
  package.json
  pnpm-lock.yaml
  src/app/navigation/MedicationNavigator.tsx
  src/features/calendar/screens/CalendarScreen.tsx
  src/features/home/screens/HomeScreen.tsx
  src/features/medication/screens/AddMedicationScreen.tsx
  src/features/medication/screens/MedicationListScreen.tsx
  tailwind.config.js
Due: lint, format, test

chore: add Node-RED integration and Docker setup
  .env.example
  doc/100-MEDICATIONS-LOADED.md
  doc/CACHE_IMPLEMENTATION_SUMMARY.md
  doc/CACHE_SYSTEM.md
  doc/CONNECTIVITY_GUIDE.md
  doc/DATA_STRATEGY.md
  doc/DEVELOPMENT.md
  doc/EXECUTAR_AGORA.md
  doc/IMPLEMENTATION_SUMMARY.md
  doc/LIST_OPTIMIZATION.md
  doc/NODE_RED_SETUP.md
  doc/OFFLINE_FALLBACK.md
  doc/QUICK_START_NODERED.md
  doc/SETUP_SUMMARY.md
  doc/node-red-flow.json
  docker-compose.yml
  nodered/flows-backup.json
  nodered/flows-old.json
  nodered/flows-simple.json
  nodered/flows-updated.json
  nodered/flows.json
  nodered/medications-100.json
  nodered/settings.js
  scripts/check-connectivity.sh
  scripts/generate-medications.js
  scripts/import-100-medications.sh
  scripts/import-flow.sh
  scripts/nodered-helper.sh
  scripts/populate-data.sh
  scripts/setup-android-reverse.sh
  scripts/setup-nodered.sh
  scripts/test-docker-api.sh
  scripts/wsl2-port-forward.ps1
Due: lint, format, test

chore: update project dependencies and configuration
  app.json
  babel.config.js
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: lint, format, test

feat: implement navigation stack and app providers
  src/config/app.config.ts
  src/navigation_stack/navigation/MedicationNavigator.tsx
Due: lint, format, test

feat: add HTTP client and storage layer
  src/lib/http/ApiHealthCheck.ts
  src/lib/storage/AsyncStorageAdapter.ts
Due: lint, format, test

feat: add shared components and utilities
  src/shared/components/molecules/ColorPicker.tsx
  src/shared/components/molecules/DatePicker.tsx
  src/shared/components/molecules/Dropdown.tsx
  src/shared/components/molecules/IconPicker.tsx
  src/shared/contexts/AuthContext.tsx
  src/shared/models/User.ts
  src/shared/utils/index.ts
Due: lint, format, test

feat: implement medication management system
  src/features/medication/cache/MedicationCache.ts
  src/features/medication/cache/index.ts
  src/features/medication/components/CacheDebugger.tsx
  src/features/medication/components/EditMedicationModal.tsx
  src/features/medication/components/MedicationCard.tsx
  src/features/medication/components/MedicationCardSkeleton.tsx
  src/features/medication/hooks/useMedications.ts
  src/features/medication/model.ts
  src/features/medication/repository/ApiMedicationRepository.ts
  src/features/medication/repository/LocalMedicationRepository.ts
  src/features/medication/repository/MedicationRepository.ts
  src/features/medication/repository/MockMedicationRepository.ts
  src/features/medication/repository/fallbackData.ts
  src/features/medication/repository/index.ts
  src/features/medication/screens/AddMedicationScreen.tsx
  src/features/medication/screens/EditMedicationScreen.tsx
  src/features/medication/screens/MedicationListScreen.tsx
Due: lint, format, test

feat: add appointment, schedule, and profile features
  src/features/appointment/hooks/useAppointments.ts
  src/features/appointment/model.ts
  src/features/appointment/repository/AppointmentRepository.ts
  src/features/appointment/repository/MockAppointmentRepository.ts
  src/features/appointment/repository/index.ts
  src/features/appointment/screens/AddAppointmentScreen.tsx
  src/features/appointment/screens/AppointmentListScreen.tsx
  src/features/dose-history/model.ts
  src/features/dose-history/repository/DoseHistoryRepository.ts
  src/features/dose-history/service/AdherenceCalculator.ts
  src/features/profile/screens/ProfileScreen.tsx
  src/features/schedule/model.ts
  src/features/schedule/repository/ScheduleRepository.ts
  src/features/schedule/service/ScheduleCalculator.ts
  src/features/settings/screens/SettingsScreen.tsx
Due: lint, format, test

feat: update home and calendar screens with new features
  App.tsx
  src/features/calendar/screens/CalendarScreen.tsx
  src/features/home/screens/HomeScreen.tsx
Due: lint, format, test

docs: update README and project documentation
  PASSOS_AGORA.md
  README.md
  reminder_pill.png
  src/app/navigation/MedicationNavigator.tsx
Due: lint, format, test

fix: resolve TypeScript errors and type safety issues
  src/features/appointment/screens/AppointmentListScreen.tsx
  src/features/home/screens/HomeScreen.tsx
  src/features/medication/repository/MockMedicationRepository.ts
  src/features/medication/screens/AddMedicationScreen.tsx
  src/features/medication/screens/MedicationListScreen.tsx
  src/features/schedule/service/ScheduleCalculator.ts
  src/shared/components/atoms/__tests__/Input.test.tsx
  src/shared/components/molecules/DatePicker.tsx
Due: lint, format, test

fix: Resolve remaining TypeScript errors and disable unused screen
  src/features/medication/screens/AddMedicationScreen.tsx
  src/features/medication/screens/EditMedicationScreen.tsx.disabled
Due: lint, format, test

fix: Remove unused error variables in catch blocks
  src/features/appointment/screens/AppointmentListScreen.tsx
  src/features/home/screens/HomeScreen.tsx
  src/features/medication/screens/MedicationListScreen.tsx
Due: lint, format, test

ci: Remove explicit pnpm version from workflow to use packageManager field
  .github/workflows/quality-check.yml
Due: none

fix: Fix dark theme contrast issues in form components
  package.json
  src/features/medication/components/EditMedicationModal.tsx
  src/features/medication/screens/AddMedicationScreen.tsx
  src/features/medication/screens/MedicationListScreen.tsx
  src/shared/components/atoms/Input.tsx
  src/shared/components/atoms/__tests__/Input.test.tsx
  src/shared/components/molecules/ColorPicker.tsx
  src/shared/components/molecules/DatePicker.tsx
  src/shared/components/molecules/Dropdown.tsx
  src/shared/components/molecules/IconPicker.tsx
Due: lint, format, test

fix(docker): Remove network host mode
  .vscode/settings.json
  app.json
  docker-compose.yml
Due: format

build: Add SonarQube token configuration
  .env
Due: none

build: Add environment configuration template
  .env.example
  .gitignore
Due: none

chore: Update package dependencies
  pnpm-lock.yaml
Due: none
